@import "~bootstrap/scss/bootstrap";
@import "fonts";

$section-header-height: 4.5em;

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 .flex-left {
     display: flex;
     justify-content: flex-start;
 }
 
body {
  color: $body-color;
  margin: 0px !important;
}

.close-icon{
    color: theme-color('danger');
}
.icon-button {
    background-color: transparent !important;
    border-color: transparent !important;
    &:hover, &:focus, &:active {
        background-color: transparent !important;
        border-color: transparent !important;
    }
}

#main-header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1040;
    // height: $section-header-height;
    
    .nav-brand {
        // font-family: 'Josefin Sans', cursive;
        font-family: 'Lobster Two', cursive;
        font-size: 2em;
    }
    .nav-menu{
        font-family: 'Mukta', sans-serif;
        font-size: 1.3em;
    }
}
.vs-section{
    min-height: 100vh;
    display: block;
    overflow: auto;
    padding: 6em 0 5em 0;
    // width: 100vw;
}

#map-section {
    padding: 0 0 0 0 !important;
    background: url('./../resources/images/neighborhood.jfif') fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .leaflet-container {
        // height: 200px;
        height: 70vw;
        width: 90vw;
        max-width: 1100px;
        min-height: 13rem;
        // height: 40vw;
        // width: 70vw;
        max-height: 70vh;
        border-radius: 3px;
        position: relative;
        top: -2rem;
    }
 

}
#abt-section{
    background: url('./../resources/images/about6.png') fixed;
    -webkit-background-size: fixed;
    -moz-background-size: fixed;
    -o-background-size: fixed;
    background-size: fixed;

    h2{
        margin: 0 0 3rem 0;
        
    }
}

#vs-image {
    height: 20rem;
    margin-top: 1rem;
}

figcaption {
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
#explore-section{
    background: url('./../resources/images/wispy.png') fixed;
    -webkit-background-size: fixed;
    -moz-background-size: fixed;
    -o-background-size: fixed;
    background-size: fixed;

    // font-family: 'Mukta', sans-serif;
    h1{
        // font-family: 'Mukta', sans-serif;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
    }
    h3 {
        font-family: 'Lato', sans-serif;
        // font-weight: 300;
        font-size: 1.3rem;
        // font-weight: 400;
    }

    #input-message {
        display: inline-block;
        max-width: 8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: .3rem;
    }

    #input-message-container {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
}

h2{
    // font-family: 'Mukta', sans-serif;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

#recognition-container {
    // position: relative;
    margin-top: 4rem;
}

#explore-secondary-row {
    margin-top: .7rem;
}

.explore-text-center{
    display: flex;
    justify-content: center;
}

.input-well{
    background-color: #ffffff;
    border-radius: $border-radius;
    margin-right: 1rem;
    #input-address{
        margin: 0;
        input {
            width: 40vw;
            max-width: 600rem;
        }
    
    }
    input {
        border-radius: .25rem;
        border-color: transparent !important;
    }
}

#recognition-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#submit-icon-container {
   
    
    #upload-file-icon {
        color: #888;
    }
    
}

#recognition-result-container {
    // background: ;
    .recognition-result {
        max-height: 22rem;
        max-width: 90vw;
        height: 100%;
        // width: 100%;
    }

    #scanner-container {
        position: relative;   
        background-color: yellow;
        float:left;
        display: block;
        // max-height: 70vw;
    }

    .bar-scanner{
        bottom:0%;
        position:absolute;
        -webkit-animation:linear infinite alternate;
        -webkit-animation-name: run;
        -webkit-animation-duration: 5s;
    }     
    @-webkit-keyframes run {
        0% { left: 0;}
        50%{ left : 100%;}
        100%{ left: 0;}
    }

    .bar-scanner {
        background-color: red;
        height:100%;
        width: 3px;
        
        position: absolute;
        /* top: 10px; *//* 
        left: 10px;  */
            
        /* padding: 5px; */
        /* background-color: blue; */
        // box-shadow: 1px 1px 7px 3px red;
        box-shadow: 2px 0px 10px 1px red
        /* box-shadow: 2px 2px 5px 5px rgba(0, 0, 255, .2);border: 2px solid red; */
    }


}

#recognition-modal {

    .container {
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .modal-body {
        // max-width: 30vw;
        display: block;
        overflow: auto;
        
    }
}

@media only screen and (max-width: 530px) {
    h1 {
        font-size: 2rem;
        font-weight: 800!important;
    }
    h3 {
        font-size: 1.1rem!important;
    }

    
    #map-section {

        .leaflet-container {
            height: 100vw;
            width: 90vw;
            max-width: 1100px;
            min-height: 13rem;
            max-height: 100vh;
            border-radius: 3px;
            
        }
    

    }

  }
  @media only screen and (max-width: 400px) {
    h1 {
        font-size: 1.7rem;
        font-weight: 800!important;
    }
    h3 {
        font-size: .9rem!important;
    }
}

    @media only screen and (max-width: 340px) {
        h1 {
            font-size: 1.5rem;
            font-weight: 800!important;
        }
        h3 {
            font-size: .85rem!important;
        }
    }
